tests/test_server.py
web/backend/tests
.venv/
.pytest_cache/
tests/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.vscode/
web/backendd/__pycache__/
web/backend/server/__pycache__/
web/backend/server/application/commands/__pycache__/